/* Global Styles */
body, body * {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.wrap{
  flex-wrap: wrap;
}
